<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | funko shop</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="icon" href="./img/branding/isotype.svg">
</head>

<body>
    <header><!-- inicio header -->
        <nav class="container navbar">
            <picture class="navbar__logo">
                <a href="./index.html"><img src="./img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca funkoshop"></a>
            </picture>
            <ul class="navbar__menu">
                <li class="navbar__item with__submenu">
                    <a class="navbar__link with_icon" href="./pages/shop/shop.html">SHOP<iconify-icon icon="mdi:chevron-down"></iconify-icon></a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a href="./pages/shop/shop.html" class="submenu__link">Funkos</a>
                        </li>
                        <li class="submenu__item">
                            <a href="./pages/shop/shop.html" class="submenu__link">Remeras</a>
                        </li>
                        <li class="submenu__item">
                            <a href="./pages/shop/shop.html" class="submenu__link">Llaveros</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar__item"> <a class="navbar__link" href="./pages/shop/contact.html">CONTACTO</a></li>
                <li class="navbar__item"> <a class="navbar__link" href="./pages/admin/login.html">LOGIN</a></li>
                <li> <a href="./pages/shop/cart.html"> <img src="./img/icons/cart-icon.svg" alt="icono de carrito"></a>
                </li>
            </ul>
        </nav>
    </header><!-- fin header -->
